<nav class="w-screen border lg:border-none duration-300 mx-auto flex items-center p-5 lg:p-6 justify-between">
    <div class="flex items-center">
        <img src="../../../assets/images/espacesis.png" width="60" alt="">
        <h4 class="text-2xl font-bold ml-2 text-gray-800">Espacesis</h4>
    </div>
    <ul class="flex menu__toggle overflow-hidden h-0 lg:h-20 duration-300 lg:p-0 shadow-md lg:shadow-none flex-col absolute left-0 right-0 bg-white lg:bg-transparent top-16 lg:top-0 lg:relative lg:mr-3 lg:flex-row lg:items-center text-gray-800">
        @for (item of navLinks; track $index) {
            <li class="lg:ml-5 mt-4 lg:mt-0" (click)="toggleMenu()"><a routerLink="{{item.path}}" routerLinkActive="text-blue-600" class="hover:text-blue-600 hover:duration-300"> {{item.name}} </a></li>
        }
        <li class="lg:ml-5 mt-4 lg:mt-0 bg-blue-600 w-max p-3 rounded-md lg:rounded-full px-4 shadow-md group text-white"><a href="" class="flex items-center">
            <div>Réjoindre</div>
            <i class='bx bxs-chevron-right ml-1 group-hover:duration-300 bg-white p-1 rounded-full text-gray-800 group-hover:translate-x-2'></i>
        </a></li>
    </ul> 
    <button (click)="toggleMenu()" title="toggle nav btn" class="lg:hidden relative mr-4">
        <div id="bar-1" class="bg-gray-800 h-0.5 w-6 rounded-full duration-300"></div>
        <div id="bar-2" class="bg-gray-800 h-0.5 w-6 rounded-full duration-300 mt-2"></div>
    </button>   
</nav>
