<section class="flex justify-center bg-black rounded-t-[12rem] p-4 lg:p-0">
    <div class="w-[90vw] flex justify-center">
        <div class="lg:w-[80vw]  rounded-3xl h-[70vh] mt-8 mb-8 flex justify-center items-center lg:mt-20 lg:mb-20">
            <div class="p-4 lg:p-6 flex flex-col items-center justify-center">
                <div>
                    <img src="../../../assets/images/espacesisblanc.png" class="w-52" alt="">
                </div>
                <p class="text-3xl mt-5 lg:mt-8 lg:text-6xl font-bold text-transparent bg-gradient-to-br from-blue-100 to-blue-600 bg-clip-text text-center lg:w-[80%]">
                    Alors, Excité à l'idée de nous réjoindre ?
                </p>
                <p class="text-white lg:w-[40%] text-center mt-5 lg:mt-8">
                    Réjoins la communauté pour garantir et enrichir ton parcours technologique
                </p>
                <a href="" class="bg-gradient-to-br from-blue-100 to-blue-600 p-4 px-10 flex items-center mt-5 active:scale-75 duration-300 lg:mt-8 rounded-lg">Réjoindre la communauté</a>
            </div>
        </div>
    </div>
</section>