<section class="flex justify-center bg-black lg:rounded-t-[3rem] p-4 lg:p-0">
    <div class="w-[90vw] flex justify-center">
        <div class="lg:w-[80vw]  rounded-3xl h-[70vh] mt-8 mb-8 flex justify-center items-center lg:mt-12 lg:mb-20">
            <div class="p-4 lg:p-6 flex flex-col items-center justify-center">
                <div>
                    <img src="../../../assets/images/espacesisblanc.png" class="w-32 lg:w-52" alt="">
                </div>
                <div class="flex flex-col lg:flex-row lg:items-center">
                    <div class="flex flex-col items-center lg:items-start">
                        <p class="text-3xl mt-5 lg:text-6xl font-bold text-transparent bg-gradient-to-br from-white to-blue-600 bg-clip-text lg:w-[80%]">
                            Alors, Excité à l'idée de nous réjoindre ?
                        </p>
                        <p class="text-white lg:w-[40%] mt-5 lg:mt-8">
                            Réjoins la communauté pour garantir et enrichir ton parcours technologique
                        </p>
                    </div>
                    <a href="" class="flex cta_link p-3 justify-between h-max lg:w-72 lg:justify-center items-center group gap-2 px-10 rounded-full hover:bg-transparent duration-300 hover:text-white hover:border hover
                    border hover:border-white/10 bg-white text-gray-900 mt-4 lg:mt-0">
                        <span>Nous Rejoindre</span>
                        <i class='bx bx-right-arrow-alt -rotate-45 group-hover:translate-x-2 duration-300 text-2xl'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>