<div class="p-4 relative z-10 w-[80vw] lg:w-[40vw] h-[50vh] rounded-xl">
    <swiper-container
        pagination-dynamic-bullets="true"
        pagination-clickable = "true"
        effect="cards" 
        loop = "true"
        grab-cursor="true"
    >
        <swiper-slide>
            <div class="bg-blue-600 overflow-hidden h-[45vh] lg:h-[55vh] rounded-xl w-full">
                <img src="https://images.pexels.com/photos/1181273/pexels-photo-1181273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="h-full w-full object-cover">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="bg-blue-600 overflow-hidden h-[45vh] lg:h-[55vh] rounded-xl w-full">
                <img src="https://images.pexels.com/photos/6803523/pexels-photo-6803523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="h-full w-full object-cover">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="bg-blue-600 overflow-hidden h-[45vh] lg:h-[55vh] rounded-xl w-full">
                <img src="https://images.pexels.com/photos/7988218/pexels-photo-7988218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="h-full w-full object-cover">
            </div>
        </swiper-slide>
        
      </swiper-container>
</div>