<footer class="bg-black text-white flex justify-center p-4 lg:p-0">
    <div class="h-[30vh] p-4 lg:p-6 lg:h-[35vh] border-t border-white/10 flex flex-col justify-between  w-full lg:w-[90vw]">
        <div class="flex justify-center">
            <div  class="flex flex-col items-center gap-4 lg:gap-10">
                <div class="lg:text-2xl text-xl">
                    <div  class="flex gap-4 lg:gap-6 mt-5 lg:mt-4">
                        <a routerLink="../home">acceuil</a>
                        <a routerLink="../about">a propos</a>
                        <a routerLink="">team</a>
                        <li class="overflow-hidden"><a href="https://espacesis.hashnode.dev/" class="block nav_links hover:text-blue-700 duration-300 hover:cursor-pointer">Blog</a></li> 
                    </div>
                </div>
                
            </div>
        </div>

        <div class="flex flex-col lg:flex-row items-center justify-between">
            <p class="lg:text-2xl lg:text-center text-xl font-semibold">Copyright &copy; 2024 - Espacesis</p>
            <div class="lg:text-2xl text-xl">
                <div  class="flex gap-4 lg:gap-6 mt-3 lg:mt-0">
                    <a class="underline">Linkedin</a>
                    <a class="underline">github</a>
                    <a href="https://bit.ly/espacesis-code" class="underline">code de conduite</a>
                </div>
            </div>
        </div>
    </div>
</footer>