<div class="flex relative z-10 item-center border rounded-xl p-4 bg-blue-600/5 backdrop-blur-md w-max">
    <h3>
        <span class="text-lg lg:text-xl font-semibold text-blue-600">+200</span>
        <p class="text-gray-500">Membres</p>
    </h3>
    <h3 class="ml-5 lg:ml-8">
        <span class="text-lg lg:text-xl font-semibold text-blue-600">+50</span>
        <p class="text-gray-500">Evenements</p>
    </h3>
    <h3 class="ml-5 lg:ml-8">
        <span class="text-lg lg:text-xl font-semibold text-blue-600">+4</span>
        <p class="text-gray-500">Sponsors</p>
    </h3>
</div>
