<section class="flex justify-center">
    <div class="lg:w-[90vw] lg:h-[90vh] relative flex items-center">
        <div class="flex flex-col">
            <div class="text-3xl lg:text-6xl font-extrabold">
                <div><h2>Rejoins une communauté</h2></div>
                <div><h2>des jeunes passionnés</h2></div>
                <div><h2>des technologies</h2></div>
            </div>
            <div class="mt-8 flex items-center justify-between">
                <p class="lg:w-[50%] text-lg">
                    Espacesis est un club tech de l'université
                    don bosco de lubumbashi
                </p>
                <a href="" class="flex p-3 px-10 rounded-full bg-gray-950 text-white">Rejoindre</a>
            </div>
            <div  class="mt-8 flex items-center gap-4">
                <div class="bg-gray-200 h-28 w-28 flex flex-col items-start p-2 justify-center rounded-lg">
                    <div class="flex items-center">
                        <div class="w-6 h-6 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/like.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/mmc.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/glo.jpg" class="w-full h-full object-cover" alt=""></div>
                    </div>
                    <span class="text-xl mt-2 font-semibold">200+</span>
                    <p class="text-gray-600">Membres</p>
                </div>
                <div class="bg-gray-200 h-28 w-28 flex flex-col items-start p-2 justify-center rounded-lg">
                    <div class="flex items-center">
                        <div class="w-6 h-6 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/like.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/mmc.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/glo.jpg" class="w-full h-full object-cover" alt=""></div>
                    </div>
                    <span class="text-xl mt-2 font-semibold">30+</span>
                    <p class="text-gray-600">Events</p>
                </div>
                <div class="bg-gray-200 h-28 w-28 flex flex-col items-start p-2 justify-center rounded-lg">
                    <div class="flex items-center">
                        <div class="w-6 h-6 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/like.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/mmc.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/glo.jpg" class="w-full h-full object-cover" alt=""></div>
                    </div>
                    <span class="text-xl mt-2 font-semibold">3</span>
                    <p class="text-gray-600">Programmes</p>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-gray-900 rounded-full ring-2 ring-blue-600 h-20 w-20 absolute right-36 top-10"></div>
            <div class="bg-red-600 rounded-full ring-2 ring-blue-600 h-28 w-28 absolute right-0 top-[35%]"></div>
            <div class="bg-green-600 rounded-full ring-2 ring-blue-600 h-16 w-16 absolute right-52 top-[60%]"></div>
        </div>
    </div>
</section>