<section class="flex overflow-hidden justify-center p-4 lg:p-0">
    <div class=" w-[95vw] lg:w-[90vw] lg:h-[90vh] relative flex flex-col-reverse lg:flex-row lg:items-center mb-8 lg:mb-5 lg:mt-5">
        <div class="flex flex-col mt-5 lg:mt-0">
            <div class="text-3xl lg:text-6xl font-extrabold mt-5 lg:mt-0">
                <div class="h-max overflow-hidden"><h2 class="herotext mb-1">Rejoins une <span class="text-blue-700">communauté</span></h2></div>
                <div class="h-max overflow-hidden"><h2 class="herotext mb-1">des <span class="text-blue-700">jeunes</span> passionnés</h2></div>
                <div class="h-max overflow-hidden"><h2 class="herotext mb-1">des <span class="text-blue-700">technologies</span></h2></div>
            </div>
            <div class="mt-4 lg:mt-8 flex flex-col lg:flex-row lg:items-center justify-between">
                <p class="lg:w-[50%] hero_para text-lg">
                    Espacesis est un club tech de l'université
                    don bosco de lubumbashi
                </p>
                <a href="" class="flex hero_link p-3 justify-between lg:justify-center items-center group gap-2 px-10 rounded-full bg-gray-950 text-white mt-4 lg:mt-0">
                    <span>Nous Rejoindre</span>
                    <i class='bx bx-right-arrow-alt -rotate-45 group-hover:translate-x-2 duration-300 text-2xl'></i>
                </a>
            </div>
            <div  class="mt-8 grid grid-cols-2 lg:flex gap-4">
                <div class="bg-white hero_boxes shadow-sm h-28 lg:w-28 flex flex-col items-center lg:items-start p-2 justify-center rounded-lg">
                    <div class="flex items-center">
                        <div class="w-6 h-6 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/like.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/mmc.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/glo.jpg" class="w-full h-full object-cover" alt=""></div>
                    </div>
                    <span class="text-xl mt-2 font-semibold">200+</span>
                    <p class="text-gray-600">Membres</p>
                </div>
                <div class="bg-white hero_boxes shadow-sm h-28 lg:w-28 flex flex-col items-center lg:items-start p-2 justify-center rounded-lg">
                    <div class="flex items-center">
                        <div class="w-6 h-6 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/devfest2.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/devfest3.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/devfest1.jpg" class="w-full h-full object-cover" alt=""></div>
                    </div>
                    <span class="text-xl mt-2 font-semibold">30+</span>
                    <p class="text-gray-600">Events</p>
                </div>
                <div class="bg-white hero_boxes shadow-sm h-28 lg:w-28 flex flex-col items-center lg:items-start p-2 justify-center rounded-lg">
                    <div class="flex items-center">
                        <div class="w-6 h-6 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/like.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/mmc.jpg" class="w-full h-full object-cover" alt=""></div>
                        <div class="w-6 h-6 -ml-2 rounded-full ring-2 ring-white overflow-hidden"><img src="../../../assets/images/glo.jpg" class="w-full h-full object-cover" alt=""></div>
                    </div>
                    <span class="text-xl mt-2 font-semibold">4</span>
                    <p class="text-gray-600">Programmes</p>
                </div>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="bg-gray-900 hero_photoes rounded-full ring-2 overflow-hidden ring-blue-600 h-20 w-20 lg:absolute right-36 top-10">
                <img src="../../../assets/images/like.jpg" class="h-full w-full object-cover" alt="">
            </div>
            <div class="bg-red-600 hero_photoes rounded-full ring-2 overflow-hidden ring-blue-600 h-28 w-28 lg:absolute right-0 top-[35%]">
                <img src="../../../assets/images/mmc.jpg" class="h-full w-full object-cover" alt="">
            </div>
            <div class="bg-green-600 hero_photoes rounded-full ring-2 overflow-hidden ring-blue-600 h-16 w-16 lg:absolute right-52 top-[60%]">
                <img src="../../../assets/images/glo.jpg" class="h-full w-full object-cover" alt="">
            </div>
        </div>
    </div>
</section>