<section class="flex justify-center p-4 lg:p-0">
    <div class="lg:w-[90vw] mb-10 lg:mb-20">
        <div class="flex justify-center">
            <div class="w-[60%] lg:w-[80%] mb-8 lg:mb-16 mt-8 lg:mt-16 overflow-hidden">
                <h3 class="team_text text-4xl font-bold lg:text-6xl text-gray-400">Core Team</h3>
                <p class="team_text text-4xl lg:text-6xl font-bold mt-1">Tous les membres de l'équipe</p>
            </div>
        </div>
        <div class="flex justify-center">
            <div class="team_block p-4 lg:p-6 mt-5 grid justify-center grid-cols-2 md:grid-cols-3 w-full lg:grid-cols-4 lg:mt-16 gap-7 lg:gap-6 lg:mb-8">
                @for(item of teamList; track item.id){
                    <div class=" flex flex-col items-center">
                        <div>
                            <div class="h-44 w-44 rounded-xl overflow-hidden">
                                <img [src]="item.photoLink" class="w-full grayscale h-full object-cover" alt="">
                            </div>
                            <div class="mt-2">
                                <p class="text-xl lg:text-2xl font-semibold">{{item.name}}</p>
                                <p class="text-gray-500">{{item.post}}</p>
                                <div class="mt-1">
                                    @if(item.linkedin !== ''){
                                        <a [href]="item.linkedin" target="_blank" class="underline text-xl"><i class='bx bxl-linkedin-square'></i></a>
                                    }
                                    @if(item.instagram !== ''){
                                        <a [href]="item.instagram" target="_blank" class="underline text-xl"><i class='bx bxl-instagram-alt' ></i></a>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
       <div class="flex justify-center ">
        <a href="" class="flex p-3 justify-between lg:justify-center items-center group gap-2 px-10 rounded-full bg-gray-950 text-white mt-4 lg:mt-0">
            <span>voir plus</span>
            <i class='bx bx-right-arrow-alt -rotate-45 group-hover:translate-x-2 duration-300 text-2xl'></i>
        </a>
       </div>
    </div>
</section>