<main class="relative">
    <div class="absolute z-50 h-screen w-screen  justify-center hidden items-center">
        <div>
            <div class="text-white text-4xl lg:text-6xl font-bold">
                <div  class="overflow-hidden"><h2 class="reveal_text  text-center opacity-0" >Apprendre</h2></div>
                <div  class="overflow-hidden"><h2 class="reveal_text  text-center opacity-0" >Se Connecter</h2></div>
                <div  class="overflow-hidden"><h2 class="reveal_text  text-center opacity-0" >Grandir</h2></div>
            </div>
        </div>
    </div>
    <div class="h-full wrapper_home w-full bg-gray-950 fixed z-40 hidden overflow-hidden"></div>
    <div class="h-full wrapper_home w-full bg-gray-800 fixed z-30 hidden overflow-hidden"></div>
    <div class="bg-blue-300/15 relative z-10 h-max ">
      <app-navbar/>
      <app-herosection/> 
    </div>
    <app-partnersection/> 
    <app-discoversection/> 
    <app-teamsection/> 
    <app-eventsection/> 
    <app-ctasection/> 
    <app-footersection/> 
  </main>