<section class="flex justify-center p-4 lg:p-0">
    <div class="w-[80vw] h-max p-4 lg:p-6 lg:h-max grid place-content-center lg:mb-20 mb-10">
        <div class="mt-8 mb-8  lg:mt-16 lg:mb-16">
            <div class="flex justify-center">
                <div class="lg:w-[80%]">
                    <h3 class="discover_text text-3xl font-bold lg:text-6xl text-gray-400">Qui sommes nous ?</h3>
                    <p class="discover_text text-3xl lg:text-6xl font-bold mt-1">Decouvre la communauté espacesis</p>
                </div>
            </div>
        </div>
        <div class="grid lg:grid-cols-2 gap-4 lg:gap-6 mt-8 mb-8 lg:mt-20 items-center lg:mb-20">
            <div class="grid grid-cols-2 gap-4 items-center relative">
                <div class=" h-[20vh] lg:h-[30vh] overflow-hidden relative">
                    <div class="absolute bg-gray-950 h-full w-full discover_images z-50"></div>
                    <img src="../../../assets/images/devfest1.jpg" class=" w-full grayscale z-40 h-full object-cover" alt="">
                </div>
                <div class=" h-[20vh] lg:h-[30vh] overflow-hidden relative translate-y-10">
                    <div class="absolute bg-gray-950 h-full w-full discover_images z-50"></div>
                    <img src="../../../assets/images/devfest2.jpg" class=" w-full grayscale z-40 h-full object-cover" alt="">
                </div>
                <div class=" h-[20vh] lg:h-[30vh] overflow-hidden relative">
                    <div class="absolute bg-gray-950 h-full w-full discover_images z-50"></div>
                    <img src="../../../assets/images/devfest3.jpg" class="w-full grayscale  z-40h-full object-cover" alt="">
                </div>
                <div class=" h-[20vh] lg:h-[30vh] overflow-hidden relative translate-y-10">
                    <div class="absolute bg-gray-950 h-full w-full discover_images z-50"></div>
                    <img src="../../../assets/images/devfest1.jpg" class="w-full grayscale  z-40h-full object-cover" alt="">
                </div>
                
            </div>
            <div class="lg:ml-10">
                <div class="mt-12 lg:mt-8">
                    <p class="text-xl lg:text-2xl text-gray-900">
                        Espacesis est une communauté tech crée à l'ecole superieur d'informatique salama (ESIS) en sigle , le but principal est de former des futures icônes de la tech au niveau de la ville et au niveau internationnal
                    </p>
                </div>
                <a href="" class="flex p-3 justify-between lg:justify-center items-center group lg:mt-10 gap-2 px-10 rounded-full bg-gray-950 text-white mt-5">
                    <span>Nous Rejoindre</span>
                    <i class='bx bx-right-arrow-alt -rotate-45 group-hover:translate-x-2 duration-300 text-2xl'></i>
                </a>
            </div>
        </div>
    </div>
</section>