<section class="flex justify-center p-4 lg:p-0">
    <div class="lg:w-[80vw]">
        <div class="mt-8 mb-8  lg:mt-16 lg:mb-16">
            <div class="flex justify-center">
                <div class="w-[80%] mb-8 lg:mb-16 mt-8 lg:mt-16">
                    <h3 class="text-4xl font-bold lg:text-6xl text-gray-400">Evenements</h3>
                    <p class="text-4xl lg:text-6xl font-bold mt-1">Nos récents events</p>
                </div>
            </div>
        </div>
        <div class="mt-10 lg:mt-20 lg:mb-20 mb-10">
            <div class="grid lg:grid-cols-3 gap-4 lg:gap-8">
                @for (item of eventList; track item.id) {
                    <a [href]="item.albumLink" class="block group mt-2 lg:mt-0">
                        <div class="lg:h-[45vh] h-[40vh] w-full overflow-hidden rounded-2xl">
                            <img [src]="item.linkphoto" class="w-full h-full object-cover grayscale group-hover:scale-110 hover:grayscale-0 duration-300" alt="">
                        </div>
                        <div class="mt-5 lg:mt-8">
                            <h2 class="text-2xl flex justify-between items-center">
                                <div>{{item.name}}</div>
                                <i class='bx bx-right-arrow-alt -rotate-45 group-hover:translate-x-2 duration-300 text-2xl'></i>
                            </h2>
                            <p class="mt-3">{{item.description}}</p>
                        </div>
                    </a>
                }
            </div>

            <div class="flex justify-center mt-8 lg:mt-16">
                <a href="" class="flex p-3 justify-between lg:justify-center items-center group gap-2 px-10 rounded-full bg-gray-950 text-white mt-4 lg:mt-0">
                    <span>voir plus</span>
                    <i class='bx bx-right-arrow-alt -rotate-45 group-hover:translate-x-2 duration-300 text-2xl'></i>
                </a>
               </div>
        </div>
    </div>
</section>